@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #d3f6db !important
}


.dark-themed {
  
}

.light-themed {
  
}

header {
  text-align: center;
  padding: 2em;
}

#book-icon {
  font-size: 40px;
}

.wrapper {
  margin: 0px auto;
  width: 70%;
}

.search-bar {
  margin: auto;
  /*width: 330px;*/
  padding: 0.2em 2em;
  border-radius: 30px;
  background-color: #fff;
  font-family: arial;
  font-size: 16px;
}

.search-bar>input[type="text"] {
  border: none;
  background-color: transparent;
    padding: 0.8em 0em;
    font-weight: bold;
}

.search-bar>input[type="text"]:focus {
  outline: none;
}



#search-icon {
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}

#search-icon:hover {
  color: #772d8b;
}



/* WOrd section */
.word {
  font-family: 'Mooli', sans-serif;
  font-weight: bold;
}

.phonetic {
  color: #772d8b;
}

.partOfSpeech {
  font-family: 'Mooli', sans-serif;
  font-weight: bold;
}

.definition {
  font-family: arial;
  font-weight: bold;
}

.word-results {
  margin-top: 12px;
}

.meaning-result {
  padding: 2em;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #e7ffec;
}

.example, .meaning {
  color: #6e6e6e;
}

.play-btn {
  font-size: 20px;
  box-shadow: .4em .4em black;
  background-color: white;
  border: 3px solid black;
  padding: .8em .8em;
  cursor: pointer;
  text-align: center;
  transition: .1s all ease-in-out;
}

.play-btn:active {
  box-shadow: .2em .2em black;
}


@media (min-width: 500px) {
  .search-bar {
    width: 330px;
  }
}
